.git
.DS_Store
test_data/wat/*.wasm
.kiro/
erl_crash.dump
_build
.aider.input.history
.elixir_ls
.aider.chat.history.md
test_data/.ninja_log
test_data/build
wa_parser_ex/deps
doc/
rebar3.crashdump
.pijul
